<div class="container col-8 text-center">
  <form action="/" method="POST">

    <label for="shortURL" class="form-label fs-5 fw-bold d-flex">Here is your shortURL:</label>

    <input type="text" class="form-control" id="shortURL" name="shortURL" value="{{this.shortURL}}">

    <button type="submit" class="btn btn-outline-light mt-5 mb-5 px-5" onclick="copyURL()">copy</button </form>

    <a href="/" class="btn bnt btn-outline-danger mt-5 mr-5 mb-5 px-5">back</a>
</div>

<!--copyLink function-->
<script>
  function copyURL() {
    event.preventDefault() //取消預設觸發行為
    event.stopPropagation() //阻止冒泡事件

    let copyText = document.getElementById('shortURL') //抓取節點

    copyText.select() //選取裏頭內容
    copyText.setSelectionRange(0, 9999)//0~9999位置全選

    navigator.clipboard.writeText(copyText.value) //複製

    alert('Already copied the shorten URL:  ' + copyText.value) //提示框
  }
</script>