<div class="container col-8 text-center">
  <form action="/" method="POST">

    <label for="shortURL" class="form-label fs-5 fw-bold d-flex">Here is your shortURL:</label>

    <input type="text" class="form-control" id="shortURL" name="shortURL" value="{{this.shortURL}}">

    <button type="submit" class="btn btn-outline-light mt-5 mb-5" onclick="copyURL()">COPY</button </form>

    <a href="/" class="btn bnt btn-outline-danger mt-5 mr-5 mb-5">back</a>
</div>